**/.git/**
**/.vscode/**
**/*.map
**/*.ts
src/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/docs/**
node_modules/**/doc/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/README.md
node_modules/**/readme.md
node_modules/**/LICENSE*
node_modules/**/license*
node_modules/**/.bin/**
